
<% @tasks.each do |task| %>
<p class="task-display"> <%= check_box_tag 'completed', true, task.completed %> <%= link_to "(delete)", task_path(task.id),
      method: :delete,
      data: { confirm: "Are you sure?" } %> <%= link_to task.title, task_path(task.id) %> </p>
<% end %>
<p class="link-display"> <%= link_to "+ Add a new task", new_path %> </p>
